<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <!-- Link Bootstrap CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>



  .footer {
background-color: #526D82;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}

.footer .social-links {
margin-top: 10px;
}

.footer .social-links a {
color: #333;
margin: 0 10px;
}

.footer .social-links a:hover {
color: #555;
}

  </style>
</head>
<body>
  <div class="content">
    <!-- Rest of your blog content goes here -->
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2023 My Blog. All rights reserved.</p>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Link Bootstrap JS file -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
